body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
section {
    max-width: 1200px;
    margin:auto;
}

.goto {
    text-decoration: none;
    border: 1px solid darkseagreen;
    background-color: lightgreen;
    padding: 3px 5px;
    display: inline-block;
    min-width: 35px;
    text-align: center;
    color: #004c00;
}
h1, h2, .section-title {
    font-family: 'Times New Roman', Times, serif;
}
.section-title {
    border-radius: 5px;
    border-bottom: 1px solid black;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.poem {
    font-style: italic;
    text-align: center;
    font-family: 'Courier New', monospace;
}
.esperanto{
    font-family: 'Courier New', monospace;
    border-bottom: 1px solid #004c00;
    border-top: 1px solid #004c00;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
}